# ========================
# APLICACIÓN
# ========================
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
CORS_ORIGINS=http://localhost:3001,http://localhost:3000

# ========================
# BASE DE DATOS
# ========================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=erp_user
DB_PASSWORD=erp_password
DB_DATABASE=erp_pmv
DB_SYNCHRONIZE=false
DB_LOGGING=true

# ========================
# JWT
# ========================
JWT_SECRET=change_me_super_secret_jwt_key_at_least_32_chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_me_super_secret_refresh_key_at_least_32_chars
JWT_REFRESH_EXPIRES_IN=7d

# ========================
# BCRYPT
# ========================
BCRYPT_SALT_ROUNDS=10